* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(46, 49, 49, 0.85);
}

.form-group {
  padding-top: 100px;
}
header {
  font-family: Marker Felt;
  font-size: 24px;
  font-weight: bold;
  height: fit-content;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand h1 {
  font-size: 35px;
}

.nav-item .nav-link:hover {
  color: red;
}

.nav-item {
  margin: 5px;
}
.nav-item:hover {
  border-top: 4px solid orange;
}
@media (max-width: 804px) {
  header {
    font-size: 20px;
  }
}
@media (min-width: 964px) {
  header {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-item .nav-link.active {
    border-bottom: 4px solid red;
  }
}
@media (max-width: 768px) {
  .nav-item:hover {
    border-bottom: 4px solid orange;
    border-top: none;
  }
}

.d-flex {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 80%;
}

/* Featured player styles */

section#featured {
  height: auto;
  width: 100%;
  background: black;
  color: white;
  font-size: 1rem;
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-top: 100px;
}

#featured h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#featured ul {
  padding: 0;
  list-style: none;
}

#attributes h3 {
  color: orange;
}

#stats h3 {
  width: fit-content;
  border-bottom: 2px solid white;
}
#stats li {
  margin: 1.7rem 0;
}

#featured img {
  margin-bottom: 1rem;
}

.row:nth-child(2) .col-12 {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  section#feautured {
    height: 100%;
    width: fit-content;
  }

  #featured container {
    text-align: center;
  }

  #stats h3 {
    margin: 0 auto;
  }
}
/* Featured player styles */

#Developers {
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.devImages {
  width: 40vh;
  height: 50vh;
}
#DevImgSec {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
