#body {
  height: 100vh;
  padding-top: 100px;
  background-color: black;
}
section:not(#Date) {
  /*background-color: rgb(185, 185, 185);*/
  background: linear-gradient(rgb(206, 206, 206), black);
  border: 0.5px solid red;
  box-shadow: 5px 5px red;

  width: 92%;
  margin: 0 auto;
  margin-top: 20px;

  /*
  margin: 0 auto;
  margin-bottom: 50px;
  */
}

#Date {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 40px;
}
.btn.btn-primary {
  display: flex;
  background: none;
  border: none;
  width: 100%;
  justify-content: center;
}

.btn.btn-primary:focus {
  box-shadow: none;
  background: none;
}
.btn.btn-primary:hover {
  background: none;
}
.modal-header > * {
  margin: 0 auto;
}
/*
span {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 30%;
  margin-left: 10px;
  font-weight: bold;
  justify-content: center;
}
*/

figcaption {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}
.img_class {
  display: block;
  margin: 0;
  padding: 0;
  width: 25vw;
}

.col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#atCharacter {
  height: 100%;
  align-self: center;

  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

@media (max-width: 540px) {
  #atCharacter {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  #atCharacter {
    font-size: 25px;
  }
}

table {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 94%;
  height: 50vh;
  overflow-x: scroll;
  border-collapse: collapse;
}
table,
tr,
td {
  border: 2px solid black;
}
tr td {
  border-top: 2px solid black;
  border-right: 0.5px solid rgba(0, 0, 0, 0.4);
}
thead,
th,
td {
  padding: 10px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid black;
}
tr:hover {
  background-color: rgba(251, 255, 0, 0.65);
}
#header-row {
  background-color: black;
}

#header-row > th {
  color: white;
}
h1 {
  text-align: center;
}

.btn.btn-dark:focus {
  box-shadow: none;
}
.btn.btn-dark:hover {
  background-color: red;
  font-weight: bold;
}

#BoxscoreLabel,
#LeadersLabel {
  font-weight: bold;
}
#LeadersLabel {
  text-align: center;
}

.TeamStats {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Teams {
  display: none;
}
.leadersPic {
  display: flex;
  width: 130px;
  height: 95px;
}
.leaders {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 3px double black;
  width: 100%;
  margin-top: 10px;
}
.LeaderPoints,
.LeaderRebounds,
.LeaderAssists {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0.5px 0.5px red;
}
.vLeader,
.hLeader {
  font-weight: bold;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0.5px 0.5px red;
  min-width: 22px;
}

@media (max-width: 440px) {
  .vLeader,
  .hLeader {
    font-size: 18px;
  }
  .LeaderPoints,
  .LeaderRebounds,
  .LeaderAssists {
    font-size: 14px;
  }
}
@media (min-width: 540px) {
  .vLeader,
  .hLeader {
    font-size: 28px;
  }
}

.LeaderNames {
  font-size: 11px;
  font-weight: bold;
  text-shadow: none;
  min-height: 32px;
}
div figure {
  padding: 0;
  margin: 0;
}
