* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgba(46, 49, 49, 0.85);
  }
  
  .form-group {
    padding-top: 100px;
  }
  header {
    font-family: Marker Felt;
    font-size: 24px;
    font-weight: bold;
    height: fit-content;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand h1 {
    font-size: 35px;
  }
  
  .nav-item .nav-link:hover {
    color: red;
  }
  
  .nav-item {
    margin: 5px;
  }
  .nav-item:hover {
    border-top: 4px solid orange;
  }
  @media (max-width: 804px) {
    header {
      font-size: 20px;
    }
  }
  @media (min-width: 964px) {
    header {
      font-size: 28px;
    }
  }
  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-item .nav-link.active {
      border-bottom: 4px solid red;
    }
  }
  @media (max-width: 768px) {
    .nav-item:hover {
      border-bottom: 4px solid orange;
      border-top: none;
    }
  }
  
  .d-flex {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 80%;
  }

  section {
    color: white;
    width: 100%;
    background-color: black;
    padding-top: 5rem;
    height: auto;
    padding: 4rem 5rem 2rem
  }

.container {
    text-align: center;
    position: relative;  
    width: 100%;
    
}

.col {
 padding: 0rem;
}

.table {
  width: 100%;
  border-spacing: 10px;
}

tr {
  background-color: rgba(46, 49, 49, 1);
  padding: 0 1rem;
  color: white;
  border-bottom: 1px solid red;
  align-items: center;  

}


tr:nth-child(even) {
  padding: 1rem;
  background-color: rgb(117, 117, 117);
}

td {
  padding: .75rem 0
}

@media (max-width: 768px) {

  section {
    padding: 4rem 1rem;

  }
}

@media (max-width: 400px) {
  section {
    padding: 4rem 0;
  }
}

