#body {
  height: 100vh;
  padding-top: 100px;
  background-color: black;
}
#Category {
  margin: 50px;
  display: flex;
  justify-content: center;
  height: 4vh;
}

table {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  height: 70vh;
  overflow-x: scroll;
  border-collapse: collapse;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px red;
}
label {
  color: white;
  margin-right: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
@media (max-width: 414px) {
  label {
    font-size: 12px;
  }
}
.statValue {
  width: 20%;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Teamimg {
  width: 80%;
}
.RankNum {
  font-size: 26px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
table,
tr,
td {
  border: 2px solid white;
}
tr td {
  border-top: 2px solid white;
  border-right: 2px solid white;
}
thead,
th,
td {
  padding: 10px;
  text-align: center;
}

tbody tr {
  border-bottom: 2px solid white;
}
tr:hover {
  background-color: rgba(20, 194, 218, 0.55);
}
thead {
  position: sticky;
  top: 0;
}

thead th {
  border-right: 2px solid white;
}
#header-row {
  background-color: brown;
}
